body{
    margin: 0;
    padding: 0;
    height: 500dvh;
    --color-segundario: #d9b28f;
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}

.portada{
    height: clamp(5dvh,70dvh,80dvh);
    width: 100%;
    background-image: url(archivos/portada.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


h1{
    text-align: center;
    margin-bottom: 5rem;
}

/* primera imagen y su  descripcion*/

.primera-imagen{
    background-image: url(archivos/son.webp);
    width: clamp(5rem,35rem,60rem);
    height: clamp(5rem,35rem,60rem) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: .5rem;
    overflow: hidden;
}

.primera-imagen_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.primera-imagen__text{
    justify-self: right;
    width: clamp(3rem,20rem,30rem);
    margin-right: 5rem;
    align-self: center;
}

@media screen and (max-width: 1064px) {
    .primera-imagen{
        height: clamp(5rem,35rem,40rem);
        width: 100%;
        margin: auto;
    }

    .primera-imagen__text{
        width: 100%;
        text-align: center;
        padding: 5px;
        margin-right: 0;
    }
}

/* primera imagen ends */

/*segunda imagen*/

.segunda-imagen{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 5rem;
    overflow: hidden;
}

.segunda-imagen__image{
    background-image: url(archivos/grupo.webp);
    width: clamp(5rem,35rem,60rem);
    height: clamp(5rem,35rem,60rem) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-self: end;
    margin-right: .5rem;
}

.segunda-imagen__text{
    justify-self: left;
    width: clamp(3rem,20rem,30rem);
    margin-left: 5rem;
    align-self: center;
}

@media screen and (max-width: 1064px) {

    .segunda-imagen{
        flex-direction: column-reverse;
    }

    .segunda-imagen__image{
        height: clamp(5rem,35rem,40rem);
        width: 100%;
        margin: 0;
    }

    .segunda-imagen__text{
        width: 100%;
        text-align: center;
        padding: 5px;
        margin-left: 0;
    }
}

/*segunda imagen end*/

/*Fundador*/

.fundador{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5rem;
    overflow: hidden;
}

.fundador-content{
    margin-left: .5rem;
    background-image: url(archivos/fundador.webp);
    height: clamp(5rem,45rem,60rem) ;
    width: clamp(10rem,60rem,70rem);
    margin-bottom: 3rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-content: center;
    color: #fff;
}

.fundador__text{
    padding: 10px;
    text-align: start;
    width: 40%;
}

.red1{
    background-image: url(archivos/instagram_icon.webp);
    background-size: contain;
    height: 5rem;
    width: 5rem;
    margin-right: .5rem;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 3rem;
    margin-top: .5rem;
}

.red2{
    background-image: url(archivos/faceboock_icon.webp);
    background-size: contain;
    height: 5rem;
    width: 5rem;
    margin-right: .5rem;
    margin-top: .5rem;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 3rem;
}

.red3{
    background-image: url(archivos/logo_whatsapp.webp);
    background-size: contain;
    height: 5rem;
    width: 5rem;
    margin-right: .5rem;
    margin-top: .5rem;
    border-radius: 15%;
    overflow: hidden;
    margin-bottom: 3rem;
}

.red4{
    background-image: url(archivos/youtube_icon.webp);
    background-size: contain;
    height: 5rem;
    width: 5rem;
    margin-right: .5rem;
    margin-top: 1rem;
    border-radius: 10px;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-bottom: 3rem;
}

.fundador-redes{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}

#fundador-informacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: end;
}

@media screen and (max-width: 1064px) {
    .fundador{
        flex-direction: column;
        overflow: hidden;
    }

    .fundador__text{
        padding: 0;
    }

    .fundador-content{
        width: 100%;
        margin-left: 0;
        height: clamp(5rem,35rem,40rem);
        align-content: start;
    }

    .fundador-redes{
        display: flex;
        justify-content: center;
        align-content: center;
    }

    #fundador-informacion{
        align-items: center;
    }

    #fundador-informacion p{
        width: 100%;
        text-align: center;
        margin-bottom: 3rem;
    }
}

/*fundador end*/

/* curriculum*/

.curriculum{
    justify-content: space-between;
    display: flex;
    width: 100%;
    overflow: hidden;
}

.curriculum-text{
    width: 50%;
    align-self: center;  
    margin-left: 10px;
    margin-bottom: 5rem;
}

.curriculum-image{
    background-image: url(archivos/curriculum-image.webp);
    width: clamp(20vw,45vw,40vw);
    height: clamp(20vh,50vh,60vh);
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
}

h2{
    text-align: center;
}

.curriculum-text__content::first-letter{
    initial-letter: 2 1;
}

@media screen and (max-width: 1064px) {
    .curriculum{
        display: block;
    }

    .curriculum-text{
        width: 100%;
    }

    .curriculum-text__content{
        margin-right: 10px;
    }

    .curriculum-image{
        width: 100%;
        height: clamp(20vw,60vw,70vw)
    }

    .curriculum-text__content::first-letter{
        initial-letter:normal;
    }
}

/*curriculum end*/

/*donde encontrarlos*/

/*parque central*/
.donde-encontrarlos{
    margin-top: 5rem;
}

.donde-encontrarlos__image1{
    width: clamp(20vw,45vw,40vw);
    height: clamp(20vh,65vh,70vh);
    background-image: url(archivos/parque_central.webp);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: .5rem;
}

.donde-encontrarlos__text1{
    width: clamp(10rem,30rem,40rem);
    justify-self: center;
    align-self: center;
    text-align: center;
    margin-right: 3rem;
}

.lugar-1{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    overflow: hidden;
}

@media screen and (max-width: 1064px){
    .lugar-1{
        flex-direction: column;
    }

    .donde-encontrarlos__text1{
        width: 100%;
        margin: 0;
        padding: 5px;
    }

    .donde-encontrarlos__image1{
        width: 100%;
        margin-left: 0;
    }
}

/*parque central end*/

/*km cero*/

.lugar-2{
    margin-top: 5rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    overflow: hidden;
}

.donde-encontrarlos__image2{
    width: clamp(20vw,45vw,40vw);
    height: clamp(20vh,65vh,70vh);
    background-image: url(archivos/kilometro_cero.webp);
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: .5rem;
    overflow: hidden;
}

.donde-encontrarlos__text2{
    width: clamp(10rem,30rem,40rem);
    justify-self: center;
    align-self: center;
    text-align: center;
    margin-left: 3rem;
}

@media screen and (max-width: 1064px){
    .lugar-2{
        flex-direction: column;
    }

    .donde-encontrarlos__text2{
        width: 100%;
        margin: 0;
        padding: 5px;
    }

    .donde-encontrarlos__image2{
        width: 100%;
    }
}

/*km cero end*/

/*donde encontrarlos end*/

/*logotipo*/

.logotipo{
    background-image: url(archivos/logotipo.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 20rem;
    height: 20rem;
    justify-self: center;
    align-self: center;
    margin: auto;
    margin-top: 5rem;
    transition: transform 1s ease;
}

/*logotipo end*/

/*footer*/

footer{
    margin: auto;
    margin-top: 5rem;
    width: 90%;
    border-top: #755a3cff solid 1px;
    justify-self: center;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
}

.contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a{
    color: #000;
}

.social-media{
    display: flex;
    align-content: center;
    justify-content: center;
}

.instagram-social-media{
    width: 3rem;
    height: 3rem;
    background-image: url(archivos/instagram_icon.webp);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    margin-right: 5px;
    padding: 5px;
}

.faceboock{
    width: 3rem;
    height: 3rem;
    background-image: url(archivos/faceboock_icon.webp);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin-right: 5px;
    padding: 5px;
}

.youtube-social-media{
    width: 5rem;
    height: 3rem;
    background-image: url(archivos/youtube_icon.webp);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 5px;
}

.whatsapp-social-media{
    width: 5rem;
    height: 3rem;
    background-image: url(archivos/logo_whatsapp.webp);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 5px;
}

@media screen and (max-width: 1064px){
    .gmail{
        font-size: 20px;
    }

    .bad_font{
        font-size: 15px;
    }

    .copyrigth{
        font-size: 10px;
    }
}

/*footer end*/

/*animaciones*/

.primera-imagen:hover , .segunda-imagen__image:hover , .fundador-content:hover , .donde-encontrarlos__image1:hover ,.curriculum-image:hover ,.donde-encontrarlos__image2:hover{
    transform: scale(1.04);
}

.primera-imagen , .segunda-imagen__image , .fundador-content , .donde-encontrarlos__image1 ,.curriculum-image ,.donde-encontrarlos__image2{
    transition: transform 1s ease;
}


.red1:hover,.red2:hover,.red3:hover,.red4:hover{
    transform: scale(1.08);
}

.a1:hover{
    transform: scale(1.08);
}

.copyrigth{
    text-align: center;
    border-top: 5rem;
    color: #345;
}

.logotipo:hover{
    transform: scale(1.08);
}

@media screen and (max-width: 1064px){
    .copyrigth{
        font-size: 10px;
    }
}

@media screen and (max-width: 1064px){

    .donde-encontrarlos__image1:hover,.donde-encontrarlos__image2:hover,.fundador-content:hover{
        transform: none;
    }
}